# Week 2 - Monday Lesson (variable assignment, loops, lists)

## Tasks Today:

1) Int & Float assignments <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Assigning int <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Assigning float <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Performing Calculations on ints and floats <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Addition <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Subtraction <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Multiplication <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Floor Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Modulo <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Exponential <br>
2) String Input-Output <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) String Assignment <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) print() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) String Concatenation <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Type Conversion <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) input() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) format() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) Old Way (python 2) <br>
3) <b>In-Class Exercise #1</b> <br>
4) If Statements <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) 'is' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) 'not in' keyword <br>
5) <b>In-Class Exercise #2</b> <br>
6) Elif Statements <br>
7) Else Statements <br>
8) <b>In-Class Exercise #3</b> <br>
9) For Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Using 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Continue Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Break Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Pass Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Double For Loops <br>
10) While Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Looping 'While True' <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) While and For Loops Used Together <br>
11) Built-In Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) range() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) len() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) help() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) isinstance() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) abs() <br>
12) Try and Except <br>
13) Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Indexing a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) .append() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) .insert() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) .pop() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) .remove() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) del() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Concatenating Two Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Lists Within Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Looping Through Lists <br>

### Int & Float Assignments

##### Assigning int

In [ ]:
x=23

##### Assinging float

y=3.5

In [ ]:
y=34.56

#### Performing Calculations on ints and floats

##### Addition

In [ ]:
x=4
y=2.45
z=x+y
print(z)

##### Subtraction

x=4
y=2.1
z=x-y
print(z)

In [ ]:
x=4
y=2.1
z=x-y
print(z)

In [ ]:
print(5-1)

In [ ]:
x=34
y=32.34
z=x-y
print(z)

##### Multiplication

In [ ]:
x=78
y=23
z=x*y
print(z)

##### Division

In [ ]:
x=300
y=10.12
z=x/y
print(z)

##### Floor Division

In [ ]:
print(34//6)

##### Modulo

In [ ]:
x=60
y=9
z=x%y
print(z)

##### Exponential

In [ ]:
print(2**5)

### String Input-Output

##### String Assignment

In [ ]:
x="I love Python"
print(x)

In [ ]:
x= "I want to be a Data Scientist"
print(x)

##### print() <br>
<p>Don't forget about end=' '</p>

In [ ]:
print("Don't forget about end=""")

##### String Concatenation

In [ ]:
x= "First Name:"
y= "Ruth"
print(x+y)

##### Type Conversion

In [1]:
x=True
print(type(x))

<class 'bool'>

##### format()

In [2]:
age=36
txt="My name is Ruth, and I am {}."
print(txt.format(age))

My name is Ruth, and I am 36.

##### Old Way (python 2)

In [ ]:
print  (type ("Hello world"))

# In-Class Exercise 1 <br>
<p>Create a format statement that asks for color, year, make, model and prints out the results</p>

In [ ]:
color="Black"
year=2015
make="INFINITI"
model="QX60"
print (f"I have a {color} ,{make} {year} {model} model car.")

### If Statements

In [ ]:
# Available operators: Greater(>), Less(<),Equal(==)
# Greater or Equal(>=), Less or Equal (<=)

# Truth Tree:
# T && F = F
# T && T = T
# T || F = T
# F || T = T
# F || F = F

car_color="Black"
car_year=2015
car_make="INFINITI"
car_model="QX60"

if car_color == "Black" and car_make == "INFINITI":
    print("Yes it is my car")
else:
    print("It is not my car")

##### 'is' keyword

In [3]:
x= 123
y=x
print(x is y)

True

##### 'in' keyword

In [4]:
x=[1,2,3,45,34]
for x in x:
    print(x)

1
2
3
45
34

##### 'not in' keyword'

In [5]:
txt="I love my son"
x= "love" not in txt
print(x)

False

# In-Class Exercise 2 <br>
<p>Ask user for input, check to see if the letter 'p' is in the input</p>

In [7]:
my_input=input("find 'P' ")
if "p" in my_input:
    print ("I find the letter p" )
elif "p" not in my_input:
    print("I do not find letter P")# Using 'and'/'or' with If Statements

find 'P' letter
I do not find letter P

### Elif Statements

### Else Statements

In [ ]:
# see above

### For Loops

##### Using 'in' keyword

In [ ]:
# see above

##### Continue Statement

In [ ]:
# will continue to next iteration

x=["banana","orange","grapes","lemen"]
for i in x:
    if i == "orange":
     continue
    print(i)

banana
grapes
lemen

In [9]:
y=["Samri","Henok", "freeom","Ruti"]
for i in y:
    if i=="freeom":
     continue
    print(i)

Samri
Henok
Ruti

##### Break Statement

In [3]:
# will break out of current loop
fruits =["banana","orange","grapes","lemen"]
for i in fruits:
   print(i)
   if i=="grapes":
     break
print(fruits)

banana
orange
grapes
['banana', 'orange', 'grapes', 'lemen']

In [23]:
p=["love","peace","joy","war"]
for i in p:
  print(i)
  if i== "joy":
     break
print(p)

love
peace
joy
['love', 'peace', 'joy', 'war']

##### Pass Statement

In [ ]:
# mostly used as a placeholder, and will continue on same iteration
fruits =["banana","orange","grapes","lemen"]
for i in fruits:
    pass
    print(i)

banana
orange
grapes
lemen

##### Double For Loops

In [ ]:
fruits =["banana","orange","grapes","lemen"]
vegies=["salad","tomato","onion"]

for i in fruits:
      for j in vegies:
            print(i,j)

banana salad
banana tomato
banana onion
orange salad
orange tomato
orange onion
grapes salad
grapes tomato
grapes onion
lemen salad
lemen tomato
lemen onion

### While Loops

In [6]:
# while condition statement (something that is true or false)


x= 1
# while x<=10:
#     print(x)
#     if x==7:
#      break
#     x+=1

while x<10:
    print(x)
    x+=1

1
2
3
4
5
6
7
8
9

##### Looping 'While True'

In [ ]:
# game_over=True
# while game_over:
#     print("infinite loop")
#     game_over=False
    
game_running =True
score=0

while game_running:
    user_input=input("Say some stuff")
    if user_input== "quit":
        game_running= False
    print(user_input)
    score+=1
    print(f" Score: {score}")

### Built-In Functions

In [15]:
##### While & For Loops Used Together
num=0
while num <5:
    print("\n while loop iteration: " + str(num))
    for i in range(2):
        print("\n for loop iteration: " + str(i))
    
    num+=1

 while loop iteration: 0

 for loop iteration: 0

 for loop iteration: 1

 while loop iteration: 1

 for loop iteration: 0

 for loop iteration: 1

 while loop iteration: 2

 for loop iteration: 0

 for loop iteration: 1

 while loop iteration: 3

 for loop iteration: 0

 for loop iteration: 1

 while loop iteration: 4

 for loop iteration: 0

 for loop iteration: 1

##### range()

In [16]:
x= range(1,20,2)
for n in x:
    print(n)

1
3
5
7
9
11
13
15
17
19

##### len()

In [ ]:
x=[1,2,4,5,6,8]
y=len(x)
print(y)

6

##### help()

In [ ]:
help()

##### isinstance()

In [ ]:
x=isinstance(True, bool)
print(x)

True

##### abs()

In [ ]:
x=abs(-3.45)
print(x)

3.45

### Try and Except

In [ ]:
try:
    print(a)
except:
    print("An error occured because 'a' is not defined")

An error occured because 'a' is not defined

### Lists

##### Declaring Lists

In [44]:
x=[1,2,3,4,5,6]
print(x)

[1, 2, 3, 4, 5, 6]
[1, 2, 3]

##### Indexing a List

In [48]:
#syntax: list_name[start:stop:step]

x=[1,2,3,4,5,]
names=["katy", "Ruti",  "babi", 5, "Samri"]
print(x[1])
print(x[:3])
print(x[1:3])
print(len(x))
print(names[-1])
# print starting at index one going by 2 for each iteration
print(names[1::2])
# print starting at the end and going down 1 each time
print(names[::-1])

2
[1, 2, 3]
[2, 3]
5
Samri
['Ruti', 5]
['Samri', 5, 'babi', 'Ruti', 'katy']

##### .append()

In [50]:
x=[1,2,3,4,5,]
y=x.append(6)
print(x)

names.append("Lion")
print(names)

[1, 2, 3, 4, 5, 6]
['katy', 'Ruti', 'babi', 5, 'Samri', 'Lion', 'Lion']

##### .insert()

In [52]:
x=[1,2,3,4,5,]
y= x.insert(5,6)
print(x)

# uses the index and the value
names.insert(3, "Gabby")
print(names)

[1, 2, 3, 4, 5, 6]
['katy', 'Ruti', 'babi', 'Gabby', 'Gabby', 5, 'Samri', 'Lion', 'Lion']

##### .pop()

In [55]:
#default is the last value if no paraeter is given
#pop returns the element that was removed in case you want to assign it into varable
names_new=names.pop()
print(names_new)

fruits =["banana","orange","grapes","lemen"]
print(fruits.pop(3))

Samri
lemen


##### .remove()

In [59]:
#value to be removed not the index

x=[1,2,3,4,5,]
y= x.remove(5)
print(x)

fruits =["banana","orange","grapes","lemen"]
fruits.remove("grapes")
print(fruits)

while "Gabby" in names:
    names.remove("Gabby")
print(names)

while 'Lion' in names:
    names.remove('Lion')
print(names)

[1, 2, 3, 4]
['banana', 'orange', 'lemen']
['katy', 'Ruti', 'babi', 5]
['katy', 'Ruti', 'babi', 5]

##### del()

In [62]:
#Be careful, it can cause indexing errors if used improperly
# remove by index
fruits =["banana","orange","grapes","lemen"]
del fruits[0]
print(fruits)

del names[0]
print(names)

x=[1,2,3,4,5,]
del x[0]
print(x)

['orange', 'grapes', 'lemen']
['babi', 5]
[2, 3, 4, 5]

##### Concatenating Two Lists

In [63]:
x=[1,2,3,4,5,]
y=[6,7,8,9,10]
xy= x+y
print(xy)
print ( [x[0], x[1], x[2], x[3], x[4], y[0], y[1], y[2], y[3], y[4]])

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

##### Lists Within Lists

In [ ]:
x=[[1,2,3], [4,5,6],[7,8]]
for i in x:
    print(i)

[1, 2, 3]
[4, 5, 6]
[7, 8]

##### Looping Through Lists

In [69]:
#two ways to loop through a list, one is by index and the other is by using 'in'key word

names=['max', 'sara','Josh',['Sally', 'Sue','Tameka']]

for i in range(len(names)):
   print(names[i])

for i in names:
   print(i)

max
sara
Josh
['Sally', 'Sue', 'Tameka']
max
sara
Josh
['Sally', 'Sue', 'Tameka']

In [65]:
#Get first prime numbers up to 100
x=[]
for i in range(1,100):
    if i%2!=0:
      x.append(i)
print(x)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99]

In [ ]:
# Get

## Exercise #1 <br>
<p>Cube Number Test... Print out all cubed numbers up to the total value 1000. Meaning that if the cubed number is over 1000 break the loop.</p>

In [70]:
cubes = [ x*x*x for x in range(1, 20)]
for x in cubes:
    if x>1000:
       break
    print(x)

1
8
27
64
125
216
343
512
729
1000

In [ ]:
# HINT::
# An else after an if runs if the if didn’t
# An else after a for runs if the for didn’t break

# Exercise 3 <br>
<p>Take in a users input for their age, if they are younger than 18 print kids, if they're 18 to 65 print adults, else print seniors</p>

In [24]:
age=int(input("what is your age? "))

if age <18:
    print("kids")
elif age >=18 and age <= 65:
    print("adults")
else:
    print("seniors")

what is your age? 19
adults